@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap');

//Typsnitt
$fontstack: 'Nunito', sans-serif;
$bold: 800;

//Färgschema
$primary2:rgb(212, 134, 17);
$primary1:rgb(34, 45, 70);
$primary3:rgb(36, 36, 36);
$primary4:rgb(156, 40, 11);

