@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap');

// Variabler

//Typsnitt
$fontstack: 'Nunito', sans-serif;

//Färgschema
$primary1:rgb(34, 45, 70);
$primary2:rgb(218, 144, 34);
$primary3:rgb(51, 71, 2);
$primary4:rgb(156, 40, 11);

