@import "reset";

html {
    scroll-behavior: smooth;
}

body {
    font-family:$fontstack;
}
a{
    text-decoration:none;
}


p{
    font-size:1.1em;
    line-height:1.5;
}

//Huvudnavigering
#bannernav {
    position: relative;
    width:100%;
    padding:0 5px 10px 5px;
    margin:0 auto;
    background-color:white;
    padding-top:100px;
    margin-top:-100px;
    min-height:700px;
    z-index:2;
}

#frontlogo {
    max-width:300px;
    margin:0 auto;
    height:200px;
    background-color:$primary1;
    margin-bottom:10px;
}

h1 {
    max-width:300px;
    margin:0 auto;
    font-size: 1.85em;
    text-align:center;
    color:rgb(189, 189, 189);
    padding-bottom:10px;
    margin-bottom:40px;
    border-bottom:1px solid rgb(204, 204, 204);
}

.topics{
    list-style: none;
    max-width:600px;
    margin:0 auto;
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    gap:0.5px;
}

.topics li {
    flex:49%;
    text-align:center;
    margin:1px;
    font-size:1.1em;

    a {
        display:block;
    padding:50px;
    color:white;
    font-weight:bold;
    transition:all 0.2s; 
    }

    a:hover {filter:opacity(0.6);}
    
}

.box1 {background-color:$primary1;}
.box2 {background-color:$primary2;}
.box3 {background-color:$primary3;}
.box4 {background-color:$primary4; color:white;}

//sidhuvud
header{
    position:sticky;
    top:0;
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding:10px 0px 10px 0;
    background-color:rgba(255, 255, 255, 0.87);
    z-index:1;

    .logobox{
        margin-left:20px;
        width:100px;
        height:70px;
        background-color:black;
    }
    /*dropdownmeny */
    .menubars {
        display: inline-block;
        cursor: pointer;
        margin-right:20px;
        margin-top:15px;
      }
      
      .bar1, .bar2, .bar3 {
        width: 50px;
        height: 6px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
        border-radius:6px;
      }
      
      .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 7px);
        transform: rotate(-45deg) translate(-9px, 7px);
      }
      
      .change .bar2 {opacity: 0;}
      
      .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-9px, -7px);
        transform: rotate(45deg) translate(-9px, -7px);
      }
    nav{
        
        height:0;
        overflow: hidden;
        width:100%;
        transition:all 0.2s;
        margin-top:10px;
        

        ul{
            width:100%;
        
            li{    
                    
                a{ 
                    display:block;
                    width:100%;
                    padding:25px 20px 20px 20px;
                    border-top:2px solid rgba(202, 202, 202, 0.637);
                    color: $primary3;
                    font-weight:bold;
                    font-size:1.1em;
                    transition:all 0.3s;
                }
            }
        }
    } 
    
    /*Horisontell meny- större skärmar */
    #horizontal {
        list-style:none;
        display:none;
        width:auto;
        margin-top:15px;

        li {
            float:left;
            width:fit-content;
            border:0;
            font-size:1.05em;
    
            a {
                color:rgb(43, 43, 43);
                transition: all 0.2s;
                font-weight:bold;
                display:inline-block;
                padding:10px 15px 10px 15px;
                border-right:0.5px solid rgb(204, 204, 204);
            }
    
        }
    
    }
}

#intro {
    max-width:600px;
    width:94%;
    margin:0 auto;
    padding-top:100px;
    padding-bottom:100px;

    .roundimg {
        margin:0 auto;
        width:230px;
        height:230px;
        border-radius:230px;
        border:1px solid grey;
    }

    h2{
        text-align:center;
        margin-top:25px;
        font-size:1.6em;
    }

    p{  
        margin-top:10px;
        font-size:1.1em;
        text-align:center;
    }
    strong {
        display:block;
        padding-top:20px;
        color:grey;
    }

}

.goto {
   height:25px;
   border-bottom:2px solid grey;
   text-align:center;
   font-size:2.5em;

   a{
       display:block;
       background-color:rgb(255, 255, 255);
       width:60px;
       margin:0 auto;
       color:grey;
       padding:0 5px 0 5px;
       transition:all 0.3s;
   }

   a:hover {
       color:rgb(32, 32, 32);
       padding:5px 5px 0px 5px;
       margin-bottom:-40px;
   }

   a:after{
    content: ' \25BD';
    
   }
}

#educontent, #workcontent, #webpcontent {
    width:100%;
    padding:50px 8px 50px 8px;
    scroll-margin-top:90px;
}

#educontent { 
    background-color:$primary1;
    table th{
        color:$primary1;
    }

    li{
        strong{display:block; color: $primary1;}
    }
}
#workcontent { 
    background-color:$primary2;
    table th{
        color:$primary2;
    }

    li{
        strong{display:block; color: $primary2;}
    }
}

/*Listning i webpcontent */
#webpcontent { 
    background-color:$primary3;

    #webplist{
        max-width:800px;
        width:100%;
        list-style:none;
        margin:0 auto;
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        justify-content: space-between;
        gap:5px;
            
        li{
            flex:49%;
            max-width:500px;
            min-width:268px;
            margin:0 auto;
            background-color:white;
            padding:20px;

            .webtitle {
                display:block;
                font-size:1.5em;
                color:$primary3;
                padding-bottom:6px;
            }

            a{  
                display:block;
                padding-top:10px;
                font-size: 1.2em;
                font-weight:$bold;
                color:$primary4;
                transition:all 0.3s;
            }

            a:hover{
                filter:opacity(0.6);
            }


        }
        
    }
}

.headingcontent {
    max-width:500px;
    margin:0 auto;
    color:white;
    font-size:2em;
    padding-bottom:40px;
}

#educontent ul, #workcontent ul{
    max-width:500px;
    margin:0 auto;
    background-color:white;
    list-style:none;
    padding:20px;
    margin-bottom:10px;
    font-size:1.1em;

    li{
        margin-bottom:10px;
        margin-top:5px;
        strong {font-weight:$bold; padding-top:5px;}
    }
}

/*Tabeller i content*/

table {
    border-collapse: collapse;
    max-width:800px;
    width:100%;
    font-size:1.1em;
    margin:0 auto;
    
    text-align:left;
    display:none;

    thead {
        background-color:white;
        
    }
    th {
        padding:18px 12px 18px 12px;
        font-weight:$bold;
        width:100%;
        vertical-align: top;
        
    }

    td{
        color:white;
        padding:25px 12px 25px 12px;
        vertical-align: top;
    }
    tr { border-bottom:1px solid white;}
}



footer {
    max-width:600px;
    margin:0 auto;
    margin-top:100px;
    padding:100px 10px 50px 10px;
    border-top:2px solid rgb(179, 179, 179);

    a {
        display:block;  
        color: rgb(71, 71, 71);
        font-weight:bold;
    }
    a:hover {
        filter:opacity(0.6);
    }

    p {
        text-align:center;
        color:rgb(71, 71, 71);
        margin-bottom:10px;
    }

    .contact {
        padding-bottom:25px
    }
}




 